.inputGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.inputGroup i {
  margin-right: 8px;
}

.inputGroup input,
.inputGroup select {
  flex: 1;
}

.error {
  width: 100%;
  color: red;
  font-size: 12px;
  display: block;
}

.deleteEdu {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteEdu:hover {
  background-color: darkred;
}
